bin
include
db
dbd
*_BAK.adl
documentation.html
cdCommands*
dllPath*
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp
.project
.settings
.cproject
external/
.tags
.vscode/c_cpp_properties.json
.vscode
core
envPaths*
__pycache__